:root {
    --bg-color: #fafafa;
    --black: #000000;


    --marginDesktop: 1vw;
    --marginMobile: 4vw;
}

@font-face {
    font-family: 'Helvetica-Neue';
    src: url('data/font/HelveticaNeue.ttc') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Neue';
    src: url('data/font/HelveticaNeue.ttc') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Neue';
    src: url('data/font/HelveticaNeue.ttc') format('truetype');
    font-weight: 600;
    font-style: normal;
}



/*Geral*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--black);
}

h1 {
    font-size: 17px;

}

p {
    font-family: 'Helvetica-Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.bold {
    font-family: 'Helvetica-Neue', sans-serif;
    font-weight: 600;
}

.medium {
    font-family: 'Helvetica-Neue', sans-serif;
    font-weight: 500;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: calc(var(--marginDesktop));
}
.desktopNone{
    display: none;
}


/*Header*/
header {
    display: flex;
    justify-content: space-between;
    margin: 0 var(--marginDesktop);
    position: absolute;
    top: 0;
    width: calc(100vw - var(--marginDesktop)* 2);
}

.headerFlag{
    display: flex;
}

.headerFlag svg {
    width: 4.5vw;
    height: auto;
    margin: 0; 
    padding: 0; 
}


/*Index*/
.mainIndex {
    height: calc(var(--vh, 1h)* 100);
}

.gapIndex{
    width:10%;
}

.background-index {
    position: relative; /* Add this line to create a positioning context */
    width: 100vw;
    height: calc(var(--vh, 1h) * 100);
}

.background-index img {
    width: 100vw;
    height: calc(var(--vh, 1h) * 100);
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

.backgroundsvg-index {
    display: flex;
    width: 100vw;
    height: calc(var(--vh, 1h) * 100);
    justify-content: center;
    position: absolute; /* Ensures it's positioned absolutely within .background-index */
    top: 0;
    z-index: 0; /* Ensure it sits above the background image */
}

.backgroundsvg-index svg {
    width: auto;
    height: calc(var(--vh, 1h) * 90);
}



/*Footer*/
footer{
    margin: var(--marginDesktop);
}
footer p .bold {
    font-weight: 300;
}

footer p {
    line-height: 20px;
}

footer div:first-child {
    grid-column: 2 / span 2;
}

footer div {
    grid-column: span 2;
    margin: calc(var(--marginDesktop) * 2) 0;
}

footer h1 {
    margin-bottom: 1rem;
}




@media only screen and (max-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: calc(var(--marginDesktop));
    }

    .desktopNone{
        display: block;
    }

    /*Header*/
    .headerFlag svg{
        width: 13vw;
    }

    /*Index*/
    .backgroundsvg-index svg{
        position: initial;
        height:50vh

    }

    .gapIndex{
        display: none;
    }
    
    .backgroundsvg-index {
        display: flex;
        width: 100vw;
        height: calc(var(--vh, 1h)* 100);
        justify-content: center;
        flex-direction: column;
    }

    /*Footer*/
    footer div:first-child {
        grid-column: 1 / span 3;
    }

    footer div {
        grid-column: span 3;
        margin: calc(var(--marginMobile));
    }

    footer h1 {
        margin-bottom: 1rem;
    }

    .hrFooter{
        grid-column: span 6;
        margin: 0 calc(var(--marginMobile));
    }

}